*.psd filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
HW1 filter=lfs diff=lfs merge=lfs -text
HW2 filter=lfs diff=lfs merge=lfs -text
HW2Part2 filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
